.fadeText {
    font-family: Arial;
    font-size: 3em;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }
.fadePokeball{
    animation: fadeIn 3s;
}
.btnList {
    animation: fadeIn 7s;
    width: 90px;
}
.btnAbout {
    animation: fadeIn 9s;
    width: 90px;
}
.sectionHome {
    height: 100vh;
    background: url(../public/home-wallpaper.gif) no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 3s;
}